body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0%;
background-image: linear-gradient(to bottom right,rgb(192, 191, 191), white,rgb(109, 109, 109));
}
#heading{
    padding-top: 5px;
    margin-top: 0;
   
    font-size: 40px;
    color: rgb(53, 53, 53);
    text-shadow: black 0px 2px 1px;
}
nav{
    height: 40px;
    padding: 1%;
}
nav #heading
{
    float: left;
}
 ul{
    /* position:absolute;
    left: 30%; */
    display: flex;
    list-style: none;
    float: right;
width: 50%;
    justify-content: center;
}
nav ul li a{
    /* width: 250px; */
    background-color: rgb(128, 128, 128);
    margin: 7px;
    text-align: center;  
    height: 50px;
    border-radius: 5px;
    padding: 5px;
    color: rgb(230, 230, 230);
box-shadow: black 0 0 7px;
cursor: pointer;
}
#nav0{
    background-color:rgb(75, 75, 75) ;
}
nav ul li a:hover{
background-color: rgb(165, 165, 165);
/* padding:3px; */

}
nav ul li a:active{
    background-color: rgb(75, 75, 75);
    }
  
.ContentSection{
    position: relative;
    right: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.ContentBox{
    margin: 22px;
    width: 350px;
    text-align: center;
    box-shadow: black 0 0 5px;
}
.ContentBox:hover{
    box-shadow: black 0 0 25px;
    width: 354px;
    margin: 20px;
}
.ContentBox img{
    height:300px;
    width: 100%;
}
@media screen and (max-width: 1088px){
nav{
    height: 10vh;
}
    #heading
    {
width: 100%;
text-align: center;
    }
 ul{
       width:100%;
       display: flex;
       flex-wrap: wrap;
   } 
   li{
       padding: 2%;
   }
   ul li a{
       font-size:x-large;
   }
   .ContentSection{
       position: relative;
       left: 1%;
   }
}
@media screen and (max-width: 414px){
nav{
    height: 20vh;
}
    #heading
    {
width: 100%;
text-align: center;
    }
 ul{
       width:100%;
       display: flex;
       flex-wrap: wrap;
   } 
   li{
       padding: 3%;
   }
   ul li a{
       font-size:15px;
   }
   .ContentSection{
       position: relative;
       left: 1%;
   }
}